@model IEnumerable<Product>

@{
    ViewData["Title"] = "List";
}

@foreach (var p in Model) // Цикл для прохода по Модели
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>

    </div>
}


@*Выражение @model в начале файла указывает, что представление будет получать
    от метода действия ПОСЛЕДОВАТЕЛЬНОСТЬ ОБЪЕКТОВ Product В КАЧЕСТВЕ ДАННЫХ МОДЕЛИ.
    С помощью выражения @foreach осуществляется проход по этой последовательности
    с генерацией простого набора НТМL-элементов для каждого полученного объекта
    Product.
    Представление не знает. откуда поступили объекты Product, как они были получены
    или охватывают ли они все товары, известные приложению. Взамен представление
    имеет дело только со способом отображения деталей каждого объекта Product
    с применением НТМL-элементов, что согласуется с принципом разделения обязанностей,
    который был описан в главе 3.*@

